﻿<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular & JWT!!</h4>
    <div class="card-body">
        <h6>Virtual entities from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="ves">
            <div *ngFor="let ve of ves">{{ve.name}}
                <ul><li *ngFor="let resource of ve.resources">{{resource.name}}</li></ul>
            </div>      
        </div>
    </div>
</div>